---
import { Icon } from 'astro-icon/components';

interface Props {
  title: string;
  className?: string;
  iconTitle?: string;
}

const { title, className = '', iconTitle = '' } = Astro.props;
---

<article class={'w-full p-4 rounded-xl ' + className}>
  {
    iconTitle && (
      <header class="flex items-center gap-2">
        <Icon
          name={iconTitle}
          class="h-6 w-6 border p-1 rounded-lg border-gray-900 bg-gray-950 text-white stroke-white stroke-4"
        />
        <h1 class="text-xl font-bold">{title}</h1>
      </header>
    )
  }
  {!iconTitle && <h1 class="text-xl font-bold">{title}</h1>}
  <span class="block border-b border-gray-300 my-2"></span>
  <slot />
</article>
